@model EventsApp.MVC.ViewModels.HellViewModel
@{
    ViewBag.Title = "Details";
}


<div class="panel panel-default" id="userDetailsPanel">
    <div class="panel-heading">@Model.UserDetailsViewModel.User.UserName</div>
    <div class="panel-body">

        @if (User.Identity.GetUserId() == Model.UserDetailsViewModel.User.Id)
        {
            @Html.ActionLink("Edit Account", "Manage", "Auth")

        }
        <br />
        <br />
        <table id="dataTable" class="table table-striped table-bordered cellspacing='0'">
            <thead>
                <tr>
                    <th>Events</th>
                    <th>Address</th>
                    <th>Date</th>
                </tr>
            </thead>
            @foreach (var _event in Model.UserDetailsViewModel.User.Events)
            {
                <tr>
                    <td>@_event.Brief</td>
                    <td>@_event.Address</td>
                    <td>@_event.StartTime</td>
                </tr>
            }

        </table>
        <br />
        @if (User.Identity.GetUserId() == Model.UserDetailsViewModel.User.Id)
        {
            <table class="table table-striped table-bordered">
                <thead>
                    <strong>Invitations</strong>
                </thead>
                <tbody>
                    @foreach (var invite in Model.UserDetailsViewModel.PendingInvites)
                    {
                        <tr>
                            <td>@invite.Event.Brief</td>
                            <td>
                                @Html.ActionLink("Accept", "AcceptInvite", "User", new { eventId = invite.Event.Id }, new { @class="btn btn-primary" }) 
                                @Html.ActionLink("Decline", "DeclineInvite", "User", new { eventId = invite.Event.Id }, new { @class = "btn btn-danger" })
                            </td>
                            <!--<td><a id="acceptBtn" class="btn btn-primary">Accept</a> <a id="declineBtn" class="btn btn-danger">Decline</a></td>-->
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/js/dataTables")
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
            });
        });
    </script>
}






