@model EventsApp.MVC.ViewModels.HellViewModel
@{    
    ViewBag.Title = "Details";
}


<div class="panel panel-default" id="userDetailsPanel">
    <div class="panel-heading">@Model.UserDetailsViewModel.User.UserName</div>
    <div class="panel-body">

        @if (User.Identity.GetUserId() == Model.UserDetailsViewModel.User.Id)
        {
            @Html.ActionLink("Edit Account", "Manage", "Auth")

        }
        <br />
        <br />
        <table id="dataTableHosted" class="datatable table table-striped table-bordered cellspacing='0'">
            <thead>
                <tr>
                    <th>Events</th>
                    <th>Address</th>
                    <th>Date</th>
                </tr>
            </thead>
            @foreach (var _event in Model.UserDetailsViewModel.User.Events)
            {
                <tr>
                    <td>@Html.ActionLink(_event.Brief, "Details", "Event", new { id = _event.Id }, new { })</td>
                    <td>@_event.Address</td>
                    <td>@_event.StartTime.ToString("yyyy-MM-dd HH:mm")</td>
                </tr>
            }

        </table>
        <br />
        @if (User.Identity.GetUserId() == Model.UserDetailsViewModel.User.Id)
        {
            <table id="dataTableInvitedEvents" class="datatable table table-striped table-bordered">
                <thead>
                    <th>Events</th>
                    <th>Event Host</th>
                    <th>Status</th>
                    <th>Action</th>
                </thead>
                <tbody>            
                    @foreach (var invite in Model.UserDetailsViewModel.Invites.OrderBy(t => t.Status))
                    {
                        <tr>
                            <td>@invite.Event.Brief</td>

                            <td>@invite.Event.AppUser.UserName</td>
                            <td>@invite.Status</td>
                            <td>
                                @if (invite.Status == EventsApp.DataModels.InviteStatus.Pending)
                                {
                                    @Html.ActionLink("Accept", "AcceptInvite", "User", new { eventId = invite.Event.Id }, new { @class = "btn btn-primary" })
                                    @Html.ActionLink("Decline", "DeclineInvite", "User", new { eventId = invite.Event.Id }, new { @class = "btn btn-danger" })
                                }
                             
                            </td>
                            <!--<td><a id="acceptBtn" class="btn btn-primary">Accept</a> <a id="declineBtn" class="btn btn-danger">Decline</a></td>-->
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/js/dataTables")
    <script>
        $(document).ready(function () {
            $('.datatable').DataTable({
            });
        });
    </script>
}



