<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta property="og:url" content="@ViewBag.ogUrl" />
    <meta property="og:title" content="@ViewBag.ogTitle" />
    <meta property="og.description" content="@ViewBag.ogDescription" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://s-media-cache-ak0.pinimg.com/736x/6b/c5/37/6bc537a241ffc746acb7d2180d2253d8.jpg" />
    <meta property="og:site_name" content="EventsApp" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/css/style")
    @Scripts.Render("~/bundles/js/modernizr")
</head>
<body>
    <div id="fb-root"></div>
    <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1483775658597403";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    
                    <span class="icon-bar"><span class="glyphicon glyphicon-th-list"></span></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Event App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (Context.User.Identity.IsAuthenticated)
                {
                    @Html.Partial("_LogOutPartial")
                }
                else
                {
                    @Html.Partial("_LogInPartial")
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/bootstrap")
    @Scripts.Render("~/bundles/js/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/js/event")
    @RenderSection("Scripts", required: false)

    @if (User.Identity.IsAuthenticated)
    {
        <script>
        $(function () {
            $.ajax({
                url: "@Url.Action("UnseenInviteCount", "User")",
                method: "POST",
                success: fetchUnseenInviteCountSuccess,
                error: fetchUnseenInviteCountError
            });

            function fetchUnseenInviteCountSuccess(data, status) {
                console.log("Successfully fetched invite count");
                console.log(data);
                if (data.count > 0) {
                    $('#unseenInvitesBadge').text(data.count);
                } else {
                    $('#unseenInvitesBadge').text("");
                }
            }

            function fetchUnseenInviteCountError(xhr, status, exception) {
                console.log("Failed to fetch invite count");
                $('#unseenInvitesBadge').text("");
            }
        });
        </script>
    }
</body>
</html>