<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta property="og:url" content="@ViewBag.ogUrl" />
    <meta property="og:title" content="@ViewBag.ogTitle" />
    <meta property="og.description" content="@ViewBag.ogDescription" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://s-media-cache-ak0.pinimg.com/736x/6b/c5/37/6bc537a241ffc746acb7d2180d2253d8.jpg" />
    <meta property="og:site_name" content="EventsApp" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Events App</title>
    @Styles.Render("~/bundles/css/style")
    @Scripts.Render("~/bundles/js/modernizr")
    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
        }({
            instrumentationKey:"cec1855d-c1d6-469d-920c-90ee91681b28"
        });

        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <div id="fb-root"></div>

    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <img class="imgLogin" src="~/Content/images/login.svg" />
                    <span class="icon-bar"><span class="imgLogin"></span></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Event App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (Context.User.Identity.IsAuthenticated)
                {
                    @Html.Partial("_LogOutPartial")
                }
                else
                {
                    @Html.Partial("_LogInPartial")
                }
                <ul class="nav navbar-nav navbar-right navbar-brand">
                    <li><h4>@Html.ActionLink("Feedback", "Feedback", "Feedback", new { }, new { @class = "nav" })</h4></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mae Laurene Suralta &amp; Lars Woxberg</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/js/jquery")

    <script>
        $(document).ready(function () {
            $.ajaxSetup({
                cache: true
            });

            $.getScript('//connect.facebook.net/en_US/sdk.js', function () {
                FB.init({
                    appId: '1483775658597403',
                    version: 'v2.5'
                });
            });
        });

        (function () {
            var e = document.createElement('script');
            e.async = true;
            e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
            document.getElementById('fb-root').appendChild(e);
        }());

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1483775658597403";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    @Scripts.Render("~/bundles/js/bootstrap")
    @Scripts.Render("~/bundles/js/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/js/event")
    @RenderSection("Scripts", required: false)

    @if (User.Identity.IsAuthenticated)
    {
        <script>
            $(function () {
                $.ajax({
                    url: "@Url.Action("UnseenInviteCount", "User")",
                    method: "POST",
                    success: fetchUnseenInviteCountSuccess,
                    error: fetchUnseenInviteCountError
                });

                function fetchUnseenInviteCountSuccess(data, status) {
                    console.log("Successfully fetched invite count");
                    console.log(data);
                    if (data.count > 0) {
                        $('#unseenInvitesBadge').text(data.count);
                    } else {
                        $('#unseenInvitesBadge').text("");
                    }
                }

                function fetchUnseenInviteCountError(xhr, status, exception) {
                    console.log("Failed to fetch invite count");
                    $('#unseenInvitesBadge').text("");
                }
            });
        </script>
    }
</body>
</html>