@model EventsApp.MVC.ViewModels.HellViewModel

@{
    ViewBag.Title = "EventDetails";
}

<h2>EventDetails</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>@Model.Event.Brief</p>
<p>@Model.Event.Detailed</p>
<p>@Model.Event.Address</p>
<p>@Model.Event.StartTime</p>


@Html.ActionLink("Edit Event", "Edit", new { id = Model.Event.Id })