@model EventsApp.MVC.ViewModels.HellViewModel
@using EventsApp.DataModels;

@{
    ViewBag.Title = "EventDetails";
    ViewBag.ogUrl = HttpContext.Current.Request.Url.AbsoluteUri;
    ViewBag.ogTitle = Model.DetailsViewModel.Event.Brief;
    ViewBag.ogDescription = Model.DetailsViewModel.Event.Detailed;
    ViewBag.ogsite_name = "EventsApp";
}



<div class="container-fluid">
    <div class="row">
        <div id ="details-info" class="col-md-6">
            <h2 class="details-page-brief">@Model.DetailsViewModel.Event.Brief</h2>
            <p>Hosted by: </p>@Html.ActionLink(Model.DetailsViewModel.Event.AppUser.UserName, "Details", "User", new { username = Model.DetailsViewModel.Event.AppUser.UserName}, new { })

            <p>@Model.DetailsViewModel.Event.Detailed</p>
            <p>@Model.DetailsViewModel.Event.Address</p>
            <p>@Model.DetailsViewModel.Event.StartTime</p>

            @if (Model.DetailsViewModel.IsInvited)
            {
                <div id="you-are-invited" class="panel panel-default">
                    <div class="panel-heading">
                        
                    </div>
                    <div class="panel-body">
                        @if (Model.DetailsViewModel.UserInvite != null)
                        {
                            if (Model.DetailsViewModel.UserInvite.Status == InviteStatus.Accepted)
                            {
                                <p class="text-success">You have accepted an invite to this event.</p>
                                <div class="form-inline">
                                    <!-- TODO: Assign actions -->
                                    <a href="#" class="btn btn-danger">I can't make it</a>
                                </div>
                            }
                            else if (Model.DetailsViewModel.UserInvite.Status == InviteStatus.Declined)
                            {
                                <p class="text-danger">You have declined an invite to this event.</p>
                                <div class="form-inline">
                                    <!-- TODO: Assign actions -->
                                    <a href="#" class="btn btn-success">I'll be able to come</a>
                                </div>
                            }
                            else if (Model.DetailsViewModel.UserInvite.Status == InviteStatus.Pending)
                            {
                                <p class="text-info">You are invited to this event.</p>
                                <div class="form-inline">
                                    <!-- TODO: Assign actions -->
                                    <a href="#" class="btn btn-success">I'll be there</a>
                                    <a href="#" class="btn btn-danger">I can't make it</a>
                                </div>
                            }
                        }
                        else if (Model.DetailsViewModel.Link != null)
                        {
                            if (User.Identity.IsAuthenticated)
                            {
                                <p class="text-info">You are invited to this event.</p>
                                <div class="form-inline">
                                    @Html.ActionLink("I'll be there", "Accept", "Link", new { guid = Model.DetailsViewModel.Link.LinkGUID }, new { @class = "btn btn-success" })
                                    @Html.ActionLink("I can't make it", "Decline", "Link", new { guid = Model.DetailsViewModel.Link.LinkGUID }, new { @class = "btn btn-danger" })
                                </div>
                            }
                            else
                            {
                                <p class="text-info">You are invited to this event. Log in to respond!</p>
                            }
                        }
                    </div>
                </div>
            }

            <div class="fb-share-button" data-href="@Url.Action("Details", "Event", new { id = Model.DetailsViewModel.Event.Id})" data-layout="button_count"></div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Invited people
                </div>
                <div class="panel-body">
                    @if (Model.DetailsViewModel.Invites.Count != 0)
                    {
                        <table class="table">
                            @foreach (var invite in Model.DetailsViewModel.Invites)
                            {
                                <tr>
                                    <td>@invite.AppUser.UserName</td>
                                    @if (invite.Status == InviteStatus.Accepted)
                                    {
                                        <td class="text-success">Is coming</td>
                                    }
                                    else if (invite.Status == InviteStatus.Pending)
                                    {
                                        <td class="text-info">Has been invited</td>
                                    }
                                    else if (invite.Status == InviteStatus.Declined)
                                    {
                                        <td class="text-danger">Can't make it</td>
                                    }
                                </tr>
                            }
                        </table>
                    }
                    else
                    {
                        if (Model.DetailsViewModel.Event.Visibility == EventVisibility.Public)
                        {
                            <span>This event is public and anyone can view it. People can still be invited though!</span>
                        }
                        else
                        {
                            <span>No one has been invited to this event.</span>
                        }

                    }
                </div>
            </div>
            
            
        </div>
        <div class="col-md-6">
            <div id="details-map">

            </div>
        </div>
    </div>
    @if (Model.DetailsViewModel.IsOwner)
    {
        <div class="row">

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Invite others
                    </div>
                    <div id="" class="panel-body">
                        <!--<p>Invitation functionality has been temporarily disabled. We are working on it!</p>-->
                        @if (Model.DetailsViewModel.Event.Visibility == EventVisibility.Public)
                        {
                            <p>This event is public, so anyone can find it. You can still invite people though!</p>
                        }

                        <p>Send a one-use invitation link to a friend:</p>

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="input-group">
                                    <span id="link-button" class="input-group-addon btn btn-default">Create Invitation Link</span>
                                    <input id="link-text" type="text" class="form-control" readonly aria-describedby="link-button" />
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p>Invite a user by their username:</p>
                                <form id="username-invite-form" class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span id="input-username-text" class="input-group-addon">Username</span>
                                            <input id="input-username" type="text" class="form-control" aria-describedby="input-username-text" />
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-default">Invite</button>
                                    <span id="input-username-error" class="text-danger"></span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.ActionLink("Edit Event", "Edit", new { id = Model.DetailsViewModel.Event.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete Event", "Delete", new { id = Model.DetailsViewModel.Event.Id }, new { @class = "btn btn-danger" })
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/js/jquery-ui")

    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('details-map'), {
                center: { lat: @Model.DetailsViewModel.Event.Latitude, lng: @Model.DetailsViewModel.Event.Longitude },
                zoom: 8
            });

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(@Model.DetailsViewModel.Event.Latitude, @Model.DetailsViewModel.Event.Longitude),
                map: map,
                title: "@HttpUtility.HtmlEncode(Model.DetailsViewModel.Event.Brief)"
            });
        }

        $('#link-button').click(function () {
            // Generate a new link using AJAX.
            $.ajax({
                url: '@Url.Action("Generate", "Link")',
                data: { eventId: @Model.DetailsViewModel.Event.Id },
                method: "POST",
                success: fetchLinkSuccess,
                error: fetchLinkError
            });

            function fetchLinkSuccess(data, status) {
                $("#link-text").val(data.url);
            }

            function fetchLinkError(xhr, status, exception) {
                $('#link-text').val('Failed to retrieve link');
            }
        });

        $('#username-invite-form').on('submit', function(e) {
            e.preventDefault();
            console.log("Form submitted");
		
		    $.ajax({
			    url: '@Url.Action("InviteByUsername", "User")',
			    data: { eventId: @Model.DetailsViewModel.Event.Id, username: $('#input-username').val() },
			    method: "POST",
			    success: usernameInviteSuccess,
			    error: usernameInviteError
		    });
		
            function usernameInviteSuccess(data, status) {
                if (data.InviteResult == 0)
                {
                    console.log("Successfully invited user");
                    location.reload();
                }
                else
                {
                    console.log("Failed to invite user " + data.InviteResult);
                    var errorElement = $('#input-username-error');
                    switch (data.InviteResult)
                    {
                        case 1: errorElement.text("No user by that name"); break;
                        case 2: errorElement.text("Event not found. It might have been removed."); break;
                        case 3: errorElement.text("You do not have permission to invite people."); break;
                        case 4: errorElement.text("This user has already been invited to this event."); break;
                        case 5: errorElement.text("You cannot invite the owner of the event."); break;
                    }
                }
		    }
		
		    function usernameInviteError(xhr, status, exception) {
		        console.log("Failed to send invite user AJAX request");
		        var errorElement = $('#input-username-error');
		        errorElement.text("No response from the server. Try again later.");
		    }
        });

        $('#input-username').on('input', function(e) {
            console.log("Input changed");

            $.ajax({
                url: '@Url.Action("Search", "User")',
                data: { usernameSubstring: $(this).val() },
                method: "POST",
                success: fetchUserSuccess,
                error: fetchUserError
            });

            function fetchUserSuccess(data, status) {          
                var usernameArray = [];
                for (var i = 0; i < data.length; ++i)
                {
                    usernameArray.push(data[i].Username);
                }

                $('#input-username').autocomplete({
                    source: usernameArray
                });
            }

            function fetchUserError(xhr, status, exception) {
                console.log("Failed to search for usernames");
            }
        });
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD41720sN_6eizUy9C-_xg9l7CdNrb7iiE&callback=initMap"></script>


}