@model EventsApp.ViewModels.ManageEventViewModel
@{
    ViewBag.Title = "ManageEvent";
}

<h2>ManageEvent</h2>
<div id="manage-panel" class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("ManageEvent", "Event", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(t => t.Brief, new { @class = "control-label" })
                        @Html.EditorFor(t => t.Brief, new { @class = "form-control", placeholder = "Write a brief event description." })
                        @Html.ValidationMessageFor(t => t.Brief, null, new { @class = "text-danger" })
                    </div>
                   
                    <div id="map">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Update</button>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button id="linkButton" class="btn btn-success">Create Invitation Link</button>
                <p>Send a one-use invitation link to a friend!</p>
                <div id="linkPanel" class="panel panel-default" style="display:none">
                    <div class="panel-body">
                        <p id="linkPanelText"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#linkButton').click(function () {
            // Generate a new link using AJAX.
            $.ajax({
                url: '@Url.Action("GenerateLink", "Event")',
                data: { eventId: @Model.EventId },
                method: "POST",
                success: fetchLinkSuccess,
                error: fetchLinkError
            });

            function fetchLinkSuccess(data, status) {
                console.log(data);
                $("#linkPanelText").text(data.link);
                $("#linkPanel").show();
            }

            function fetchLinkError(xhr, status, exception) {
                console.log("Failed to fetch link");
            }
        });
    </script>
}
